# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number = 6
print(number)

6

##### Assinging float

In [5]:
#float = any number with a decimal
num_float = 2.3
print(num_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [10]:
num1 = 7
num2 = 10

result_diff = num2 - num1
print(result_diff)

3

##### Multiplication

In [11]:
result_prod = num1 * num2
print(result_prod)

70

##### Division

In [15]:
num3 = 20
num4 = 5

result_dividend = num3 / num4
print(result_dividend)

result_dividend /= 2
print(result_dividend)
print(int(result_dividend))

4.0
2.0
2

##### Floor Division

In [17]:
#rounds result down to nearest whole int
#to round result up to nearest whole int -- use ceil math function
num5=15
num6=7

result_floor = num5//num6
print(result_floor)

2

##### Modulo

In [19]:
num1 = 11
num2 = 5

remainder = num1 % num2
print(remainder)

1

##### Exponential

In [20]:
square = 5**2
print(square)

25

### String Input-Output

##### String Assignment

In [22]:
name = "Kathy"
print(name)

Kathy

##### print() <br>
<p>Don't forget about end=' '</p>

In [23]:
print("This is my first name:", name)
print("Full name:", name, end=" Vu")

#use ? to get additional information about a function
print?

This is my first name: Kathy
Full name: Kathy Vu

##### String Concatenation

In [26]:
first_name = "Kathy"
last_name = "Vu"

full_name = first_name + " " + last_name
print(full_name)

Kathy Vu

##### Type Conversion

In [27]:
#int() -- convert num_string or float to an int
#float() -- convert int or num_string to a float
#str() -- convert int or float to a string

num = "32"

##### input()

In [29]:
#input will ALWAYS return a string

# name = input("What is your name? ")
# color = input("What's your favorite color? ")
# print(name, color)

age = int(input("What's your age? "))
add_age = age + 1
print(add_age)

What's your age? 29
30

##### format()

In [35]:
age = input("What is your age? ")
name = input("What is your name? ")
result_str = "You are {} {} and you are getting wiser!".format(age, name)
print(result_str)

result_str = f"{name} turned {age} this year"
print(result_str)

What is your age? 29
What is your name? kat
You are 29 kat and you are getting wiser!
kat turned 29 this year

##### Old Way (python 2)

In [ ]:
result_str2 = "You are %s and you look great for your age!" %age
print(result_str2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [41]:
color = input("What is the color of your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")
print(f"You have a {color} {year} {make.title()} {model.title()}")

What is the color of your car? white
What year is your car? 2011
What make is your car? honda
What model is your car? civic
You have a white 2011 Honda Civic

### If Statements

In [43]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
if num2 ==  num1:
    print("Euqal Values")
else:
    print("Not Equal")

if num2 >= num1:
    print("num2 is greater")
elif num1 >= num2:
    print("num1 is greater")

Not Equal
num2 is greater

##### 'is' keyword

In [46]:
# this checks for reference equality aka checking for same/similar objects, not same value

num3=55
num4=55
if num3 is num4:
    print("num4 is num3")

# this is value equality
if num3 == 55:
    print("num3's value is 55")

num4 is num3
num3's value is 55

##### 'in' keyword

In [47]:
# checking for membership in an interable (str/list/dict/tuple/set)
char_name = "Boba Fett"

if "Boba" in char_name:
    print("oh no, the sarlaac")

oh no, the sarlaac

##### 'not in' keyword'

In [48]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("This is Sonic, not Sanic")

This is Sonic, not Sanic

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [56]:
name = input("What is your name? ")

if "p" in name.lower():
    print(f"The name {name} contains the letter 'p'")
else:
    print(f"The name {name} does not contain the letter 'p'")
    
print(type(name))

What is your name? Kathy
The name Kathy does not contain the letter 'p'
<class 'str'>

## Using 'and'/'or' with If Statements

In [ ]:
num1 = 15
num2 = 3
num3 = 10
num4 = 3

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [63]:
name = "Kathy Vu"
for letter in name:
    print(letter)

print("")

for i in range(len(name)):
    print(i, name[i])

K
a
t
h
y

V
u

0 K
1 a
2 t
3 h
4 y
5
6 V
7 u

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [64]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [65]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
# pass is a placeholder so your code doesn't break
# can also just comment out the code too if you want

name = "Kathy Vu"
for i in name:
    pass

##### Double For Loops

In [67]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [7, 8, 9, 10, 11, 12]

for i in list1:
    for j in list2:
        print(i, j)

1 7
1 8
1 9
1 10
1 11
1 12
2 7
2 8
2 9
2 10
2 11
2 12
3 7
3 8
3 9
3 10
3 11
3 12
4 7
4 8
4 9
4 10
4 11
4 12
5 7
5 8
5 9
5 10
5 11
5 12
6 7
6 8
6 9
6 10
6 11
6 12

### While Loops

In [68]:
num = 0
while num < 10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
while True

##### While & For Loops Used Together

In [71]:
num = 0

while num < 5:
    print(f"\n While Loop Iteration: {str(num)}")
    for i in range(5):
        print("For loop Iteration: ", i)
    num+=1

 While Loop Iteration: 0
For loop Iteration:  0
For loop Iteration:  1
For loop Iteration:  2
For loop Iteration:  3
For loop Iteration:  4

 While Loop Iteration: 1
For loop Iteration:  0
For loop Iteration:  1
For loop Iteration:  2
For loop Iteration:  3
For loop Iteration:  4

 While Loop Iteration: 2
For loop Iteration:  0
For loop Iteration:  1
For loop Iteration:  2
For loop Iteration:  3
For loop Iteration:  4

 While Loop Iteration: 3
For loop Iteration:  0
For loop Iteration:  1
For loop Iteration:  2
For loop Iteration:  3
For loop Iteration:  4

 While Loop Iteration: 4
For loop Iteration:  0
For loop Iteration:  1
For loop Iteration:  2
For loop Iteration:  3
For loop Iteration:  4

### Built-In Functions

##### range()

In [76]:
for i in range(10):
    print(i)

print("")

for i in range(0, 11, 2):
    print(i)

0
1
2
3
4
5
6
7
8
9

0
2
4
6
8
10

##### len()

In [77]:
name = "Kathy"
print(len(name))

5

##### help()

In [ ]:
# use this function to view more info about a python function

##### isinstance()

In [81]:
# can check a variable against a type, and returns True/False

num=4.5
print(isinstance(num, str))
print(isinstance(num, float))
print(isinstance(10.5, float))

False
True
True

##### abs()

In [82]:
# gives you the absolute value of an item (distance from 0)
# this can be used to turn a negative number into a positive number

print(abs(-5))

5

### Try and Except

In [147]:
# use whenever you expect to encounter a bug, so that the error doesn't cause the program to stop
# use so you can log graceful & useful error messages

try:
    num_test = 0
    input_num = int(input("Enter a number! "))
    if input_num != num_test:
        input_num = input_num + num_test
        print(f"Your number is {str(input_num)}")
    
except:
    print("That did not work --- ERROR: Please make sure your input is a number")

Enter a number! 7
Your number is 7

### Lists

##### Declaring Lists

In [6]:
list1 = [] # this is an empty list
names = ["Ash", "Misty", "Brock", "Gary"]
print(names)

['Ash', 'Misty', 'Brock', 'Gary']

##### Indexing a List

In [8]:
# [start: stop: step]

# print single index
print(names[0])

# print starting at index 1 and going to the end
print(names[1:])

# print starting at the beginning and go to nth index
# this goes up to but does not include the nth index (python is not inclusive)
print(names[:2])

# print at the beginning and going by 2's
print(names[::2])

# print starting at the back of list and print in reverse order
print(names[::-1])

Ash
['Misty', 'Brock', 'Gary']
['Ash', 'Misty']
['Ash', 'Brock']
['Gary', 'Brock', 'Misty', 'Ash']

.append()

In [11]:
# adds item to the BACK of the list

names = ["Ash", "Misty", "Brock", "Gary"]
names.append("Professor Oak")
print(names)

['Ash', 'Misty', 'Brock', 'Gary', 'Professor Oak']

##### .insert()

In [14]:
# inserts an item at the specified index

names.insert(2, "Officer Jenny")
print(names)

['Ash', 'Misty', 'Officer Jenny', 'Officer Jenny', 'Brock', 'Gary', 'Professor Oak']

##### .pop()

In [19]:
# removes the last item in a list by default unless specified otherwise
# returns the element that was removed which allows us to reassign it

names = ['Ash', 'Misty', 'Officer Jenny', 'Brock', 'Gary', 'Professor Oak']

popped = names.pop()
print(popped)

popped = names.pop(2)
print(popped)

print(names)

Professor Oak
Officer Jenny
['Ash', 'Misty', 'Brock', 'Gary']


##### .remove()

In [22]:
# removes value, not the index

new_names = ["Kat", "John", "Dan", "Paul", "Bob", "Bob", "Bob"]
new_names.remove("Kat")
print(new_names)

while "Bob" in new_names:
    new_names.remove("Bob")
    
print(new_names)

['John', 'Dan', 'Paul', 'Bob', 'Bob', 'Bob']
['John', 'Dan', 'Paul']

##### del()

In [23]:
# index to be removed, not the value
# not used as often -- usually use pop() or remove()

names = ["Kat", "John", "Dan", "Paul"]
del(names[1])
print(names)

['Kat', 'Dan', 'Paul']

##### Concatenating Two Lists

In [25]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
list4 = list2 + list1 # keep in midn, the order matters!
print(list3)
print(list4)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

Lists Within Lists

In [27]:
names = ["Max", "Sam", "Josh", ["sally", "Sue", "Tameka"]]
print(names)
print(names[3])
print(names[3][0])

['Max', 'Sam', 'Josh', ['sally', 'Sue', 'Tameka']]
['sally', 'Sue', 'Tameka']
sally

##### Looping Through Lists

In [37]:
# two ways to do this: either by value or by index

# looping by index
names = ["Kat", "John", "Dan", "Paul"]
for i in range(len(names)):
    print(i, names[i])
print("")

# looping by value
for name in names:
    print(name)
print("")

# using enumerate gives you both index and value
print(list(enumerate(names)))
for i, name in enumerate(names):
    print(i, name)

0 Kat
1 John
2 Dan
3 Paul

Kat
John
Dan
Paul

[(0, 'Kat'), (1, 'John'), (2, 'Dan'), (3, 'Paul')]
0 Kat
1 John
2 Dan
3 Paul

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [39]:
num = 0

while num**3 <= 1000:
    print(num**3)
    num+=1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [145]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1,101):
    for factor in range(2, num):
        if num % factor == 0:
            break
    else:
        print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [45]:
age = int(input("What's your age? "))

if age < 18:
    print("kids")
elif 18 <= age <= 65:
    print("adults")
else:
    print("seniors")

What's your age? 100
seniors